tr:nth-child(even) {
    background-color: #f4f4f4;
}
tr:nth-child(odd) {
    background-color: #ffa;
}
* {
    font-family: monospace;
}
a {
    color: #2196F3;
    padding: 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
}
#reboot {
    background-color: red;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}